global:
  scrape_interval:     15s
  evaluation_interval: 15s
 
rule_files:
 
scrape_configs:
  - job_name: 'dotnet'
    static_configs:
    - targets: ['virtical-statisticsupdater-9977.twc1.net:5023']
